{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'donations/style.css' %}" />

{% if donations_list %}
<div id="donations_table">
  <table>
    <tr>
      <th>Date</th>
      <th>Systolic</th>
      <th>Diastolic</th>
      <th>Donation Center</th>
      <th>Type</th>
    </tr>
    {% for donation in donations_list %}
    <tr>
      <td>{{ donation.donation_date }}</td>
      <td>{{ donation.systolic }}</td>
      <td>{{ donation.diastolic }}</td>
      <td>{{ donation.donation_center }}</td>
      <td>{{ donation.donation_type }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div id="donations_time_chart">
</div>

<div id="donations_bp_chart">
</div>

{% else %}
    <p>No donations recorded.</p>
{% endif %}
