{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Zack Youngren</title>
  <meta name="description" content="Zack Youngren is a computer science student at Northeastern University." />
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
  <meta name="viewport" content="width=device-width" />
</head>
<body>
<div id="content">
    <div id="face">
        <img src="{% static 'core/face.png' %}" alt="headshot">
        Photo © Paul Erhardt
    </div>
    <div id="about">
        <div id="name">
            Zack Youngren
        </div>
        <div id="info">
            Zack studies computer science at Northeastern University. He
            has previously worked as a front end developer at Constant Contact
            and a full stack developer at Monster.com. </br> </br> In his spare
            time he officiates roller derby around New England and elsewhere
            under the name You++.
        </div>
        <div id="contact">
            <a href="http://www.linkedin.com/pub/zack-youngren/48/69a/b9b">LinkedIn</a>
            | <a href="mailto:zack@youngren.io">zack@youngren.io</a>
        </div>
    </div>
</div>
<script src="js/colors.js"></script>
</body>
</html>
